<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Professores</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<a href="/professor/cadastrar" type="button" class="btn btn-info">Cadastrar Professores</a>
	<div class="container">
		<h1>Listagem de Professores</h1>
		<hr>
		<ul th:each="professor : ${professores}">
		<li><a th:href="@{/professor/} + ${professor.id}"><span
					th:text="${professor.nome}"></span></a></li>
		</ul>
		<hr/>
<div>
<form th:method="delete" th:action="@{/professor/excluir/{id}(id=${aluno.id})}" enctype="multipart/form-data">
<input type="hidden" name="_method" valu="DELETE"/>
<input type="submit" value="Delete" class="btn btn-danger">
</form>
</div>
	</div>
</body>
</html>